<nav class="bg-white shadow-lg" x-data="{ open: false }">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <!-- Logo -->
        <div>
          <a href="/" class="flex items-center py-4 px-2">
            <span class="font-semibold text-gray-900 text-2xl">Cozy Nest Living</span>
          </a>
        </div>
        <!-- Primary Nav -->
        <div class="hidden md:flex items-center space-x-1">
          <%= link_to "Home", root_path, class: "py-4 px-2 text-gray-700 hover:text-gray-900 font-medium" %>
           <%= link_to "Login", login_path, class: "py-4 px-2 text-gray-700 hover:text-gray-900 font-medium" %>

          <%= link_to "About", about_path, class: "py-4 px-2 text-gray-700 hover:text-gray-900 font-medium" %>
          <%= link_to "Contact", contact_path, class: "py-4 px-2 text-gray-700 hover:text-gray-900 font-medium" %>
    


          
        </div>
      </div>
      <!-- Secondary Nav -->
     
      <!-- Mobile button -->
      <div class="md:hidden flex items-center">
        <button @click="open = !open" class="outline-none mobile-menu-button">
          <svg class="w-6 h-6 text-gray-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  
</nav>